


// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

html, body, .grid-container {
    height: 100%;
    margin: 0;
    background-color: black;
}

//.grid-container * {
//    border: 1px solid red;
//}

.grid-container *:after {
    content:attr(class);
    position: absolute;
    top: 0;
    left: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 60%;
}



* {
    height: 100%;
}
//
//html,
//body {
//    height: 100%;
//    background-color: white;
//}
//
//.grid50_50 {
//    display: grid;
//    grid-template-columns: 50% 50%;
//    grid-template-rows: 40% 60%;
//    height: 100%;
//    align-items: end;
//}
//
//.h100 {
//    height: 100%;
//}

//html, body {
//    height: 100%;
//    background-color: white;
//    margin: 0;
//}
//
//img {
//    margin: 0;
//    border: 0;
//
//}
//
////.grid {
////    grid-column: 1;
////}
//
//.grid50_50 {
//    display: grid;
//    grid-template-columns: 50% 50%;
//    grid-template-rows: auto;//30% 70%;
//    height: 100%;
//}
//
//.h1w00 {
//    height: 100%;
//    //width: 50%;
//}
//
////#logo775 {
////    width: 50%;
////}
////
////#bavaria {
////    width: 50%;
////}
