html,
body,
.grid-container {
  height: 100%;
  margin: 0;
  background-color: black;
}

.grid-container *:after {
  content: attr(class);
  position: absolute;
  top: 0;
  left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 60%;
}

* {
  height: 100%;
}

